<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlatformInfo</key>
	<dict>
		<key>CustomMemory</key>
		<true/>
		<key>Memory</key>
		<dict>
			<key>Devices</key>
			<array>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 8 (Channel A / DIMM 1)</string>
					<key>Manufacturer</key>
					<string>CRUCIAL</string>
					<key>PartNumber</key>
					<string>BLE8G4D36BEEAK.M8FE1</string>
					<key>SerialNumber</key>
					<string>8899AABB</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>3600</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 7 (Channel A / DIMM 2)</string>
					<key>Manufacturer</key>
					<string>NO DIMM</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 10 (Channel B / DIMM 1)</string>
					<key>Manufacturer</key>
					<string>CRUCIAL</string>
					<key>PartNumber</key>
					<string>BLE8G4D36BEEAK.M8FE1</string>
					<key>SerialNumber</key>
					<string>8899AABC</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>3600</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 9 (Channel B / DIMM 2)</string>
					<key>Manufacturer</key>
					<string>NO DIMM</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 12 (Channel C / DIMM 1)</string>
					<key>Manufacturer</key>
					<string>CRUCIAL</string>
					<key>PartNumber</key>
					<string>BLE8G4D36BEEAK.M8FE1</string>
					<key>SerialNumber</key>
					<string>8899AACA</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>3600</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 11 (Channel C / DIMM 2)</string>
					<key>Manufacturer</key>
					<string>NO DIMM</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 5 (Channel D / DIMM 1)</string>
					<key>Manufacturer</key>
					<string>CRUCIAL</string>
					<key>PartNumber</key>
					<string>BLE8G4D36BEEAK.M8FE1</string>
					<key>SerialNumber</key>
					<string>8899AABD</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>3600</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 6 (Channel D / DIMM 2)</string>
					<key>Manufacturer</key>
					<string>NO DIMM</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 3 (Channel E / DIMM 1)</string>
					<key>Manufacturer</key>
					<string>CRUCIAL</string>
					<key>PartNumber</key>
					<string>BLE8G4D36BEEAK.M8FE1</string>
					<key>SerialNumber</key>
					<string>8899AABE</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>3600</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 4 (Channel E / DIMM 2)</string>
					<key>Manufacturer</key>
					<string>NO DIMM</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 1 (Channel F / DIMM 1)</string>
					<key>Manufacturer</key>
					<string>CRUCIAL</string>
					<key>PartNumber</key>
					<string>BLE8G4D36BEEAK.M8FE1</string>
					<key>SerialNumber</key>
					<string>8899AACB</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>3600</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 2 (Channel F / DIMM 2)</string>
					<key>Manufacturer</key>
					<string>NO DIMM</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DataWidth</key>
			<integer>64</integer>
			<key>ErrorCorrection</key>
			<integer>3</integer>
			<key>FormFactor</key>
			<integer>9</integer>
			<key>MaxCapacity</key>
			<integer>824633720832</integer>
			<key>TotalWidth</key>
			<integer>64</integer>
			<key>Type</key>
			<integer>26</integer>
			<key>TypeDetail</key>
			<integer>128</integer>
		</dict>
	</dict>
</dict>
</plist>
