<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Memory</key>
		<dict>
			<key>DataWidth</key>
			<integer>64</integer>
			<key>ErrorCorrection</key>
			<integer>3</integer>
			<key>FormFactor</key>
			<integer>9</integer>
			<key>MaxCapacity</key>
			<integer>137438953472</integer>
			<key>TotalWidth</key>
			<integer>64</integer>
			<key>Type</key>
			<integer>26</integer>
			<key>TypeDetail</key>
			<integer>128</integer>
			<key>Devices</key>
			<array>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 1</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 2</string>
					<key>Manufacturer</key>
					<string></string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 3</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 4</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 5</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 6</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 7</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 8</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 9</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 10</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 11</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>Slot 12</string>
					<key>Manufacturer</key>
					<string>Acidanthera</string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
